{{#
    @name Posts show
    @desc The Posts show template.
#}}

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ permalink }}"
        },
        "headline": "{{ title }}",
        "image": "{{ config:app:url }}{{ image }}",
        "datePublished": "{{ date | format('c') }}",
        "author": {
            "@type": "Organization",
            "name": "{{ config:app:name }}",
            "url": "{{ config:app:url }}"
        },
        "publisher": {
            "@type": "Organization",
            "name": "{{ config:app:name }}"{{ if seo:organization_logo }},
            "logo": {
                "@type": "ImageObject",
                "url": "{{ config:app:url }}{{ glide:seo:organization_logo width='336' height='336' fit='contain' }}"
            }{{ /if }}
        }
    }
</script>

<main class="py-12 md:py-16 lg:py-24 stack-12 md:stack-16 lg:stack-24" id="content">
    <div class="fluid-grid stack-8">
        <header class="span-content md:col-start-[col-3] md:col-span-8 stack-4">
            {{ partial:typography/h1 :content="title" class="text-center" }}

            {{ if subtitle }}
                {{ partial:typography/p :content="subtitle" class="block text-center prose-lg" }}
            {{ /if }}

            {{ if image }}
                <figure>
                    {{ partial:statamic-peak-tools::components/picture :image="image" sizes="(min-width: 1280px) 1150px, (min-width: 768px) 90vw" aspect_ratio="3/2" lazy="true" cover="true" class="aspect-[3/2]" }}
                </figure>
            {{ /if }}
        </header>
    </div>

    <section class="fluid-grid">
        <div class="span-content grid md:grid-cols-subgrid gap-fluid-grid-gap">
            <div class="col-span-12 md:col-span-8">
                {{ partial:typography/prose as="article" class="contents" }}
                    {{ article }}
                        {{ partial src="components/{type}" }}
                    {{ /article }}
                {{ /partial:typography/prose }}

                <p class="mt-12">
                    Published on {{ partial:typography/time :content="date" }} by {{ authors | pluck:name | sentence_list }}.
                </p>
            </div>

            {{ collection:posts shuffle limit="3" as="items" }}
                {{ unless no_results }}
                    <div class="col-span-12 md:col-span-4 space-y-6">
                        <h6 class="text-sm text-primary-400 uppercase font-bold">{{ trans:strings.posts_more }}</h6>
                        {{ items }}
                            {{ partial:components/post_item class="" }}
                        {{ /items }}
                    </div>
                {{ /unless }}
            {{ /collection:posts }}
        </div>
    </section>
</main>
