{{#
    @name Posts
    @desc The Posts page builder block.
    @set page.page_builder.posts
#}}

{{ partial:page_builder/block }}
    <div class="span-content grid md:grid-cols-12 gap-fluid-grid-gap">
        {{ title ?= { partial:typography/h1 as="h2" :content="title" class="md:col-span-12" } }}

        {{ collection:posts sort="date:desc" limit="3" as="items" }}
            {{ unless no_results }}
                {{ items }}
                    {{ partial:components/post_item class="md:col-span-6" }}
                {{ /items }}
            {{ else }}
                <div class="md:col-span-6">
                    {{ trans:strings.posts_not_found }}
                </div>
            {{ /if }}
        {{ /collection:posts }}

        <nav class="md:col-span-12 text-right">
            {{ partial:components/button label="{trans:strings.posts_all}" button_type="inline" link_type="url" url="{mount_url:posts}" }}
        </nav>
    </div>
{{ /partial:page_builder/block }}
