{{#
    @name Courses index
    @desc The Courses index template.
#}}

<main class="py-12 md:py-16 lg:py-24 stack-12 md:stack-16 lg:stack-24" id="content">
    {{ page_builder scope="block" }}
        {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}
</main>

{{ section:index_content }}
    <div class="span-content">
        {{ collection:courses sort="title" paginate="true" limit="10" as="items" }}
            {{ unless no_results }}
                {{ items }}
                    {{ partial:components/course_item }}
                {{ /items }}
                {{ partial:statamic-peak-tools::components/pagination }}
            {{ else }}
                {{ trans:strings.courses_not_found }}
            {{ /unless }}
        {{ /collection:courses }}
    </div>
{{ /section:index_content }}
