{{#
    @name Courses show
    @desc The Courses show template.
#}}

<main class="py-12 md:py-16 lg:py-24 stack-12 md:stack-16 lg:stack-24" id="content">
    <div class="fluid-grid stack-8">
        <header class="span-content md:col-start-[col-3] md:col-span-8 stack-4">
            {{ partial:typography/h1 :content="title" class="text-center" }}

            {{ if subtitle }}
                {{ partial:typography/p :content="subtitle" class="block text-center prose-lg" }}
            {{ /if }}

            {{ if image }}
                <figure>
                    {{ partial:statamic-peak-tools::components/picture :image="image" sizes="(min-width: 1280px) 1150px, (min-width: 768px) 90vw" aspect_ratio="3/2" lazy="true" cover="true" class="aspect-[3/2]" }}
                </figure>
            {{ /if }}
        </header>
    </div>

    <section class="fluid-grid">
        <div class="span-content grid grid-cols-subgrid gap-fluid-grid-gap">
            <div class="col-span-12 md:col-span-6">
                {{ partial:typography/prose as="article" class="contents" }}
                    {{ article }}
                        {{ partial src="components/{type}" }}
                    {{ /article }}
                {{ /partial:typography/prose }}
            </div>

            {{ if sections }}
                <div class="col-span-12 md:col-span-6 space-y-12">
                    {{ sections }}
                        <div class="flex flex-col gap-y-2">
                            {{ partial:typography/h3 :content="heading" class="underline decoration-primary decoration-6 underline-offset-2" }}

                            {{ partial:typography/p :content="description" }}

                            {{ if lessons }}
                                <ol class="list-decimal list-inside">
                                    {{ lessons }}
                                        <li class="mb-1">
                                            <a href="{{ url }}" class="motion-safe:transition-colors text-primary hover:text-neutral font-bold text-xs">
                                                {{ title }}
                                            </a>
                                        </li>
                                    {{ /lessons }}
                                </ol>
                            {{ else }}
                                {{ partial:typography/p content="Coming Soon!" }}
                            {{ /if }}
                        </div>
                    {{ /sections }}
                </div>
            {{ /if }}
        </div>
    </div>
</main>
